PORT=3000
DATABASE_URL=postgresql://postgres.qpekdijebjzigrgcumpv:YOUR_PASSWORD@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1
MIGRATE_DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.qpekdijebjzigrgcumpv.supabase.co:5432/postgres
TMDB_ACCESS_TOKEN=your-tmdb-api-read-access-token
